<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Index</title>
		<link rel="stylesheet" type="text/css" href="bootstrap.css" />
	</head>
	<body>
  
		<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </a>
	          <a class="brand" href="#">Lavanderia Crescer </a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <a>Home</a>
	            </ul>
	          </div>
	          <h1 th:text="${mensagem}">mensagem</h1>
	        </div>
	      </div>
	    </div>
	</body>
</html>
