<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
<title>Layout Page</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Lavanderia</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a th:href="@{/clientes/}">Clientes</a></li>
					</ul>
				
					<ul class="nav navbar-nav navbar-right">
					        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<section class="container">
		<div layout:fragment="content"></div>
	</section>
	
</body>
</html>