@model RelatorioModel
@{
    ViewBag.Title = "JogosDisponiveis";
}

<h2>Jogos Disponiveis</h2>

<table class="table">
    <tr>
        <thread>
            <td>Nome</td>
            <td>Categoria</td>
            <td>Preço</td>
        </thread>
    </tr>

</table>