<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Index</title>
<link rel="stylesheet" type="text/css" href="bootstrap.css" />
<link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Lavanderia</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/cliente/lista">Clientes</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<form th:action="@{/clientes/editar}" th:object="${cliente}"
		method="post">

		<input th:field="*{id}" type="hidden" />

		<p>
			<label class="control-label">Nome: </label> <input th:field="*{nome}"
				type="text" />
		</p>

		<p>
			<label class="control-label">CPF: </label> <input th:field="*{cpf}"
				type="text" />
		</p>

		<p>
			<label class="control-label">Email: </label> <input
				th:field="*{email}" type="text" />
		</p>

		<p>
			<label class="control-label">Cidade: </label> <select
				th:field="*{idCidade}">
				<option th:each="c : ${cidades}" th:text="${c.nome}"
					th:value="${c.idCidade}">[option]</option>
			</select>
		</p>

		<button type="submit">Salvar</button>

	</form>
</body>
</html>