<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="@{/layout}">
<head>
<meta charset="UTF-8" />
<title>Vizualizar</title>
</head>
<body>

	<h2>Visualizar</h2>

	<div class="container" layout:fragment="content">
		<form role="form" th:object="${cliente}">

			<label class="control-label">ID: </label> 
			<input th:field="*{id}" type="text" disabled="true" /> 
			
			<label class="control-label">Nome:</label> 
			<input th:field="*{nome}" type="text" disabled="true" /> 
			
			<label class="control-label">CPF: </label> 
			<input th:field="*{cpf}" type="text" disabled="true" /> 
			
			<label class="control-label">Email:</label> 
			<input th:field="*{email}" type="text" disabled="true" /> 
			
			<label class="control-label">Cidade: </label> 
			<select
				th:field="*{idCidade}" disabled="true">
				<option th:each="c : ${cidades}" th:text="${c.nome}"
					th:value="${c.idCidade}"></option>
			</select>

		</form>
	</div>

</body>
</html>