<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="@{/layout}">
<head>
	<title>Clientes</title>
</head>
<body>
	<div layout:fragment="content">
			<div class="title" th:if="${not #lists.isEmpty(clientes)}">
					<div th:if="${message}" class="alert alert-success fade in">
						<a th:href="@{/clientes}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong th:text="${message}">mensage</strong>
					</div>
					
				<h2 class="text-center title">Listagem de Clientes</h2>
				<table class="table table-striped table-bordered table-hover table-condensed">
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th>CPF</th>
						<th>Situacao</th>
						<th>Visualizar</th>
						<th>Editar</th>
						<th>Remover</th>
					</tr>
					<tr th:each="cliente : ${clientes}">
						<td th:text="${cliente.id}"><a th:href="${'/clientes/' + cliente.id}"></a></td>
						<td th:text="${cliente.nome}"></td>
						<td th:text="${cliente.cpf}"></td>
						<td th:value="${cliente.situcao}"></td>
						<td><a class="btn btn-info" role="button" th:href="${'/clientes/' + cliente.id}">Visualizar</a></td>
						<td><a class="btn btn-info" role="button" th:href="${'/clientes/editar/' + cliente.id}">Editar</a></td>
						<td><a class="btn btn-info" role="button" th:href="${'/clientes/remover/' + cliente.id}">Remover</a></td>
					</tr>
				</table>
			</div>
			<div class="text-center">
				<a class="btn btn-large btn-success" role="button" th:href="@{/clientes/cadastra/}">Cadastrar Novo</a>
			</div>
	</div>
	
</body>
</html>
