<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="@{/layout}">
<head>
	<title>Remover</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="col-xs-11">
			<form class="form-horizontal" role="form" th:action="@{/clientes/remover}" th:object="${cliente}" method="post">
				<h2 class="text-center title">Remover Cliente</h2>
				
				<input th:field="*{id}" type="hidden" />
				
				<div class="form-group col-xs-7">
					<label class="control-label col-sm-2">ID: </label> 
					<div class="col-sm-10">
						<input class="form-control" th:field="*{id}" type="text" disabled="true" /> 
					</div>
				</div>
				
				<div class="form-group col-xs-7">
					<label class="control-label col-sm-2">Nome:</label> 
					<div class="col-sm-10">
						<input class="form-control" th:field="*{nome}" type="text" disabled="true" /> 
					</div>
				</div>
				
				<div class="form-group col-xs-7">
					<label class="control-label col-sm-2">CPF: </label> 
					<div class="col-sm-10">
						<input class="form-control" th:field="*{cpf}" type="text" disabled="true" /> 
					</div>
				</div>
				
				<div class="form-group col-xs-7">
					<label class="control-label col-sm-2">Email:</label> 
					<div class="col-sm-10">
						<input class="form-control" th:field="*{email}" type="text" disabled="true" /> 
					</div>
				</div>
				
				<div class="form-group col-xs-7">
					<label class="control-label col-sm-2">Endereco: </label> 
					<div class="col-sm-10">
						<input class="form-control" th:field="*{endereco}" type="text" disabled="true" /> 
					</div>
				</div>
				
				<div class="form-group col-xs-7">
					<label class="control-label col-sm-2">Bairro: </label> 
					<div class="col-sm-10">
						<input class="form-control" th:field="*{bairro}" type="text" disabled="true" /> 
					</div>
				</div>
				
				<div class="form-group col-xs-7">
					<label class="control-label col-sm-2">CEP: </label> 
					<div class="col-sm-10">
						<input class="form-control" th:field="*{cep}" type="text" disabled="true" /> 
					</div>
				</div>
				
				<div class="form-group col-xs-7">
					<label class="control-label col-sm-2">Situacao: </label> 
					<div class="col-sm-10">
						<input class="form-control" th:field="*{situacao}" type="text" disabled="true" /> 
					</div>
				</div>
				
				
				<div class="form-group col-xs-7">
					<label class="control-label col-sm-2">Cidade: </label> 
					<div class="col-sm-10">
						<select class="form-control" th:field="*{idCidade}" disabled="true">
							<option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.idCidade}"></option>
						</select>
					</div>
				</div>
				
				<div class="text-center col-xs-12">
				<p class="lead">Deseja remover este cliente?</p>
						<a class="btn btn-large btn-danger" role="button" th:href="@{/clientes}">Cancelar</a>
						<button type="submit" class="btn btn-large btn-success">Remover</button>
				</div>
				
			</form>
		</div>
	</div>
	
</body>
</html>