@{
    ViewBag.Title = "Home";
}


<body style="background-color: black">
    <div class="container">
        <header>
            <div style="text-align: center">
                <h2 style="color:blue">GameSharks <a style="color: green">B</a><a style="color: yellow">R</a></h2>
            </div>
        </header>

        @if (@User.IsInRole("ADMIN"))
        {
            <form action="@Url.Action("JogosDisponiveis", "Relatorio")" method="get">
                <label style="color: white" for="nome">Pesquisa por nome: </label>
                <input type="text" name="nome" value="" />

                <input type="submit" value="Pesquisar" />
            </form>
        }

        <div style="text-align: center">
            <img src="~/Content/imagem/gameshark.png" width="450" height="450">
        </div>
    </div>

</body>
