@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html>
<body style="background-color: black">
    <div class="container">
        <header>
            <div style="text-align: center">
                <h2 style="color:blue">GameSharks <a style="color: green">B</a><a style="color: yellow">R</a></h2>
                <p style="color: white">Uma breve descrição.</p>
            </div>
        </header>
        <div style="text-align: center">
            <img src="~/Content/imagem/gameshark.png" width="450" height="450">
        </div>
    </div>
</body>
</html>