<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="@{/layout}">
<head>
	<title>Cadastrar Produto</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="col-xs-11">
			<form class="form-horizontal" th:action="@{/produtos/cadastra}" th:object="${produto}" method="post">
				
				<input th:field="*{idProduto}" type="hidden" />
				
				<h2 class="text-center title">Cadastrar produto</h2>
				
				<div class="form-group col-xs-7" th:classappend="${#fields.hasErrors('idServico')} ? 'has-error'">
					<label class="control-label col-sm-2">Servico: </label>
					<div class="col-sm-10"> 
						<select class="form-control" th:field="*{idServico}">
							<option th:each="s : ${servicos}" th:text="${s.descricao}" th:value="${s.idServico}">[option]</option>
						</select>
						<span class="help-inline" th:errors="*{idServico}"></span>
					</div> 
				</div>
				
				<div class="form-group col-xs-7" th:classappend="${#fields.hasErrors('idMaterial')} ? 'has-error'">
					<label class="control-label col-sm-2">Material: </label>
					<div class="col-sm-10"> 
						<select class="form-control" th:field="*{idMaterial}">
							<option th:each="m : ${materiais}" th:text="${m.descricao}" th:value="${m.idMaterial}">[option]</option>
						</select>
						<span class="help-inline" th:errors="*{idMaterial}"></span> 
					</div>
				</div>
			
				<div class="form-group col-xs-7" th:classappend="${#fields.hasErrors('valor')} ? 'has-error'">
					<label class="control-label col-sm-2">Valor: </label>
					<div class="col-sm-10">
						<input th:field="*{valor}" type="text" class="form-control" />
					</div>
					<span class="help-inline" th:errors="*{valor}"></span> 
				</div>
			
				<div class="form-group col-xs-7" th:classappend="${#fields.hasErrors('prazo')} ? 'has-error'">
					<label class="control-label col-sm-2">Prazo: </label>
		 			<div class="col-sm-10">
		 				<input th:field="*{prazo}" type="text" class="form-control" />
		 			</div>
		 			<span class="help-inline" th:errors="*{prazo}"></span>
				</div>
				
				<div class="form-group col-xs-7" th:classappend="${#fields.hasErrors('situacao')} ? 'has-error'">
			 		<label class="control-label col-sm-2">Situacao: </label>
			 		<div class="col-sm-10">
				 		<select class="form-control" th:field="*{situacao}">
								<option th:text="ATIVO"	    th:value="0"></option>
								<option th:text="INATIVO"	th:value="1"></option>
						</select>
					</div>
				</div>
				
				<div class="text-center col-xs-12">
					<a class="btn btn-large btn-danger" role="button" th:href="@{/produtos}">Voltar</a>
					<button type="submit" class="btn btn-large btn-success">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>