<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="@{/layout}">
<head>
	<title>Produtos</title>
</head>
<body>
	<div layout:fragment="content">
	
			<h2 class="text-center">Listagem de Produtos</h2>
			
			<div class="title" th:if="${not #lists.isEmpty(produtos)}">
			
				<div th:if="${message}" class="alert alert-success fade in">
					<a th:href="@{/produtos}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong th:text="${message}">mensage</strong>
				</div>
				
				<div style="float:right;" >
					<a class="btn btn-large btn-success" role="button" th:href="@{/produtos/cadastra/}">Cadastrar Novo</a>
				</div>

				<div class="form-group col-xs-7">
					<form th:action="@{/produtos/buscar}" method="GET" class="form-horizontal">
						<label class="pull-left control-label">Servico: </label>
					  	<div class="col-md-4">
					  		<select class="form-control" id="servico" name="servico">
					  			<option th:value="0" ></option>
						  		<option th:each="s : ${servicos}" th:text="${s.descricao}" th:value="${s.idServico}" ></option>
					    	</select>
					  	</div>
					
						<label class="pull-left control-label">Material: </label>
						<div class="col-md-4">
						    <select class="form-control" id="material" name="material">
						      <option th:value="0" ></option>
							  <option th:each="m : ${materiais}" th:text="${m.descricao}" th:value="${m.idMaterial}" ></option>
						    </select>
						</div>
						<button type="submit" class="btn btn-primary">Pesquisar</button>
					</form>
				</div>
				
				<table class="table table-striped table-bordered table-hover table-condensed">
					<tr>
						<th>Servico</th>
						<th>Material</th>
						<th>Valor(R$)</th>
						<th>Prazo(dias)</th>
						<th>Situacao</th>
						<th>Editar</th>
					</tr>
					<tbody>
						<tr th:each="produto : ${produtos}">
							<td class = "text-center" th:text="${produto.descricaoServico}"></td>
							<td class = "text-center" th:text="${produto.descricaoMaterial}"></td>
							<td class = "text-center" th:text="${produto.valor}"></td>
							<td class = "text-center" th:text="${produto.prazo}"></td>
							<td class = "text-center" th:text="${produto.situacao == 0 ? 'ATIVO' : 'INATIVO'}"></td>
							<td class = "text-center"><a class="btn btn-info" role="button" th:href="${'/produtos/editar/' + produto.idProduto}">Editar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div th:unless="${not #lists.isEmpty(produtos)}">
				<h2 class="text-center title">Nenhum Produto Encontrado.</h2>
			</div>
	</div>
</body>
</html>