<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Clientes</title>
<link rel="stylesheet" type="text/css" href="bootstrap.css" />
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Lavanderia</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Page 1</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<h1>Clientes</h1>
	</div>

</body>
</html>
